-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "emailVerifiedAt" TIMESTAMP(3),
    "name" TEXT NOT NULL,
    "avatarUrl" TEXT,
    "departmentId" TEXT,
    "managerId" TEXT,
    "tenantId" TEXT NOT NULL DEFAULT 'default',
    "roles" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "ssoBindings" JSONB,
    "disabled" BOOLEAN NOT NULL DEFAULT false,
    "failedLoginCount" INTEGER NOT NULL DEFAULT 0,
    "lockedUntil" TIMESTAMP(3),
    "lastLoginAt" TIMESTAMP(3),
    "lastLoginIp" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PasswordHash" (
    "userId" TEXT NOT NULL,
    "hash" TEXT NOT NULL,
    "algorithm" TEXT NOT NULL DEFAULT 'argon2id',
    "mustChange" BOOLEAN NOT NULL DEFAULT false,
    "changedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "historyHashes" TEXT[] DEFAULT ARRAY[]::TEXT[],

    CONSTRAINT "PasswordHash_pkey" PRIMARY KEY ("userId")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "deviceFingerprint" TEXT,
    "userAgent" TEXT,
    "ip" TEXT,
    "refreshTokenHash" TEXT NOT NULL,
    "mfaVerified" BOOLEAN NOT NULL DEFAULT false,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "revokedAt" TIMESTAMP(3),
    "revokeReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MfaSecret" (
    "userId" TEXT NOT NULL,
    "encryptedSecret" TEXT NOT NULL,
    "recoveryCodeHashes" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "enrolledAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastUsedAt" TIMESTAMP(3),

    CONSTRAINT "MfaSecret_pkey" PRIMARY KEY ("userId")
);

-- CreateTable
CREATE TABLE "Invite" (
    "id" TEXT NOT NULL,
    "codeHash" TEXT NOT NULL,
    "email" TEXT,
    "presetRoles" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "presetDepartmentId" TEXT,
    "tenantId" TEXT NOT NULL DEFAULT 'default',
    "invitedById" TEXT NOT NULL,
    "note" TEXT,
    "maxUses" INTEGER NOT NULL DEFAULT 1,
    "usedCount" INTEGER NOT NULL DEFAULT 0,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "redeemedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Invite_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuthEvent" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "email" TEXT,
    "eventType" TEXT NOT NULL,
    "ip" TEXT,
    "userAgent" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuthEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Department" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "parentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Department_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DecisionCard" (
    "id" TEXT NOT NULL,
    "schemaVersion" TEXT NOT NULL DEFAULT 'tandem.v1',
    "title" TEXT NOT NULL,
    "decisionClass" TEXT NOT NULL,
    "convergenceState" TEXT NOT NULL,
    "elapsedSeconds" INTEGER NOT NULL DEFAULT 0,
    "hardDeadlineAt" TIMESTAMP(3),
    "primaryKrId" TEXT,
    "noKrReason" TEXT,
    "relatedKr" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "relatedTti" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "origins" JSONB,
    "materialRefs" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "options" JSONB NOT NULL,
    "selected" TEXT,
    "selectedById" TEXT,
    "selectedAt" TIMESTAMP(3),
    "expectedKrImpact" JSONB,
    "retrospective" JSONB,
    "vetoWindowEnds" TIMESTAMP(3),
    "watermark" JSONB NOT NULL,
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "DecisionCard_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ActionItem" (
    "id" TEXT NOT NULL,
    "decisionCardId" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "task" TEXT NOT NULL,
    "due" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ActionItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Persona" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "schemaVersion" TEXT NOT NULL DEFAULT 'tandem.v1',
    "stage" TEXT NOT NULL,
    "stageEnteredAt" TIMESTAMP(3) NOT NULL,
    "delegationLevel" TEXT NOT NULL,
    "decisionHistory" JSONB NOT NULL,
    "styleProfile" JSONB NOT NULL,
    "growthAreas" JSONB NOT NULL,
    "bossCaptureScore" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "dataOwnership" JSONB NOT NULL,
    "learningActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Persona_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Origin" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "sourceUrl" TEXT,
    "participants" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "encryptedBlobRef" TEXT,
    "retentionDays" INTEGER NOT NULL DEFAULT 90,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Origin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Material" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "body" JSONB NOT NULL,
    "originRefs" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "participants" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "visibility" TEXT NOT NULL,
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Material_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MemoryEntry" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "body" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "sourceMaterialId" TEXT,
    "signers" JSONB NOT NULL,
    "publicReviewUntil" TIMESTAMP(3),
    "referenceCount" INTEGER NOT NULL DEFAULT 0,
    "lastReferencedAt" TIMESTAMP(3),
    "supersedes" TEXT,
    "supersededBy" TEXT,
    "ownershipLevel" TEXT NOT NULL DEFAULT 'company',
    "ownerUserId" TEXT,
    "ownerDepartmentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "MemoryEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MemoryPromotionRequest" (
    "id" TEXT NOT NULL,
    "materialId" TEXT NOT NULL,
    "proposedType" TEXT NOT NULL,
    "proposedTitle" TEXT NOT NULL,
    "proposedBody" TEXT NOT NULL,
    "status" TEXT NOT NULL,
    "signers" JSONB NOT NULL,
    "publicReviewUntil" TIMESTAMP(3),
    "isEmergencyTrack" BOOLEAN NOT NULL DEFAULT false,
    "createdById" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "finalDecisionAt" TIMESTAMP(3),
    "level" TEXT NOT NULL DEFAULT 'company',
    "slaDeadline" TIMESTAMP(3),
    "escalationHistory" JSONB,

    CONSTRAINT "MemoryPromotionRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "MemoryDowngradeRequest" (
    "id" TEXT NOT NULL,
    "memoryId" TEXT NOT NULL,
    "proposedBy" TEXT NOT NULL,
    "reason" TEXT NOT NULL,
    "metrics" JSONB NOT NULL,
    "status" TEXT NOT NULL,
    "decision" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "MemoryDowngradeRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Steward" (
    "userId" TEXT NOT NULL,
    "appointedAt" TIMESTAMP(3) NOT NULL,
    "conflictWith" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Steward_pkey" PRIMARY KEY ("userId")
);

-- CreateTable
CREATE TABLE "Cycle" (
    "id" TEXT NOT NULL,
    "period" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Cycle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Objective" (
    "id" TEXT NOT NULL,
    "cycleId" TEXT NOT NULL,
    "level" TEXT NOT NULL,
    "parentObjectiveId" TEXT,
    "ownerId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "visibility" TEXT NOT NULL DEFAULT 'public',
    "weight" INTEGER NOT NULL DEFAULT 100,
    "status" TEXT NOT NULL DEFAULT 'active',
    "confidence" TEXT NOT NULL DEFAULT 'on-track',
    "tags" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "collaboratorIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "watcherIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "selfScore" DOUBLE PRECISION,
    "managerScore" DOUBLE PRECISION,
    "finalScore" DOUBLE PRECISION,
    "retrospective" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Objective_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KeyResult" (
    "id" TEXT NOT NULL,
    "objectiveId" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "coOwnerIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "title" TEXT NOT NULL,
    "measureType" TEXT NOT NULL DEFAULT 'numeric',
    "computeMethod" TEXT NOT NULL DEFAULT 'latest',
    "startValue" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "targetValue" DOUBLE PRECISION NOT NULL,
    "currentValue" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "unit" TEXT,
    "confidence" TEXT NOT NULL DEFAULT 'on-track',
    "riskStatus" TEXT NOT NULL DEFAULT 'on_track',
    "weight" INTEGER NOT NULL DEFAULT 100,
    "status" TEXT NOT NULL DEFAULT 'active',
    "dueDate" TIMESTAMP(3),
    "tags" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "collaboratorIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "watcherIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "selfScore" DOUBLE PRECISION,
    "finalScore" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "KeyResult_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TTI" (
    "id" TEXT NOT NULL,
    "cycleId" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "successCriteria" TEXT NOT NULL,
    "startValue" DOUBLE PRECISION,
    "targetValue" DOUBLE PRECISION,
    "currentValue" DOUBLE PRECISION,
    "unit" TEXT,
    "completionRate" DOUBLE PRECISION NOT NULL DEFAULT 0,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "TTI_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Initiative" (
    "id" TEXT NOT NULL,
    "keyResultId" TEXT NOT NULL,
    "ownerId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "decisionCardIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "status" TEXT NOT NULL,
    "dueDate" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Initiative_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CheckIn" (
    "id" TEXT NOT NULL,
    "scope" TEXT NOT NULL,
    "scopeId" TEXT NOT NULL,
    "authorId" TEXT NOT NULL,
    "progressBefore" DOUBLE PRECISION NOT NULL,
    "progressAfter" DOUBLE PRECISION NOT NULL,
    "confidenceBefore" TEXT NOT NULL,
    "confidenceAfter" TEXT NOT NULL,
    "achievements" TEXT,
    "blockers" TEXT,
    "nextSteps" TEXT,
    "mood" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CheckIn_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ImChannel" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "name" TEXT NOT NULL DEFAULT '',
    "topic" TEXT,
    "visibility" TEXT NOT NULL,
    "memberIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "createdById" TEXT NOT NULL,
    "departmentId" TEXT,
    "autoCreated" BOOLEAN NOT NULL DEFAULT false,
    "projectEndsAt" TIMESTAMP(3),
    "linkedDecisionCardId" TEXT,
    "lastMessageAt" TIMESTAMP(3),
    "lastMessagePreview" TEXT,
    "archivedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ImChannel_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ImMessage" (
    "id" TEXT NOT NULL,
    "channelId" TEXT NOT NULL,
    "senderId" TEXT NOT NULL,
    "senderKind" TEXT NOT NULL DEFAULT 'user',
    "body" TEXT NOT NULL,
    "mentions" JSONB NOT NULL DEFAULT '[]',
    "attachments" JSONB,
    "parentMessageId" TEXT,
    "spawnedDecisionCardId" TEXT,
    "spawnedPromotionId" TEXT,
    "editedAt" TIMESTAMP(3),
    "deletedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ImMessage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ImMembership" (
    "id" TEXT NOT NULL,
    "channelId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'member',
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastReadAt" TIMESTAMP(3),
    "unreadCount" INTEGER NOT NULL DEFAULT 0,
    "muted" BOOLEAN NOT NULL DEFAULT false,
    "notifyOn" TEXT[] DEFAULT ARRAY[]::TEXT[],

    CONSTRAINT "ImMembership_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "NineBoxSnapshot" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "cycleId" TEXT NOT NULL,
    "kpiScore" DOUBLE PRECISION NOT NULL,
    "ttiScore" DOUBLE PRECISION NOT NULL,
    "cell" TEXT NOT NULL,
    "capturedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "NineBoxSnapshot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OneOnOneMeeting" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL DEFAULT 'default',
    "managerId" TEXT NOT NULL,
    "reportId" TEXT NOT NULL,
    "cadence" TEXT NOT NULL DEFAULT 'biweekly',
    "scheduledAt" TIMESTAMP(3) NOT NULL,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'scheduled',
    "agendaManager" TEXT,
    "agendaReport" TEXT,
    "noteProgress" TEXT,
    "noteBlockers" TEXT,
    "noteNextSteps" TEXT,
    "linkedKrIds" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "moodScore" INTEGER,
    "privateManagerNote" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OneOnOneMeeting_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OneOnOneActionItem" (
    "id" TEXT NOT NULL,
    "meetingId" TEXT NOT NULL,
    "text" TEXT NOT NULL,
    "assigneeId" TEXT NOT NULL,
    "dueDate" TIMESTAMP(3),
    "done" BOOLEAN NOT NULL DEFAULT false,
    "linkedInitiativeId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OneOnOneActionItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Review360Cycle" (
    "id" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL DEFAULT 'default',
    "name" TEXT NOT NULL,
    "startDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3) NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'draft',
    "questions" JSONB NOT NULL,
    "anonymizePeers" BOOLEAN NOT NULL DEFAULT true,
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Review360Cycle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Review360Submission" (
    "id" TEXT NOT NULL,
    "cycleId" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "raterId" TEXT NOT NULL,
    "raterType" TEXT NOT NULL,
    "answers" JSONB NOT NULL,
    "strengths" TEXT NOT NULL,
    "improvements" TEXT NOT NULL,
    "overallScore" DOUBLE PRECISION,
    "submittedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Review360Submission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Review360Assignment" (
    "id" TEXT NOT NULL,
    "cycleId" TEXT NOT NULL,
    "subjectId" TEXT NOT NULL,
    "raterId" TEXT NOT NULL,
    "raterType" TEXT NOT NULL,
    "submitted" BOOLEAN NOT NULL DEFAULT false,
    "submittedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Review360Assignment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Document" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL DEFAULT '',
    "type" TEXT NOT NULL DEFAULT 'doc',
    "ownerId" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL DEFAULT 'default',
    "permissions" JSONB NOT NULL DEFAULT '{}',
    "version" INTEGER NOT NULL DEFAULT 1,
    "isLocked" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Document_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "CalendarEvent" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "startAt" TIMESTAMP(3) NOT NULL,
    "endAt" TIMESTAMP(3) NOT NULL,
    "timezone" TEXT NOT NULL DEFAULT 'Asia/Shanghai',
    "allDay" BOOLEAN NOT NULL DEFAULT false,
    "recurringRule" JSONB,
    "ownerId" TEXT NOT NULL,
    "attendees" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "location" TEXT,
    "meetingUrl" TEXT,
    "calendarSource" TEXT NOT NULL DEFAULT 'manual',
    "externalId" TEXT,
    "status" TEXT NOT NULL DEFAULT 'confirmed',
    "tenantId" TEXT NOT NULL DEFAULT 'default',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "CalendarEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "DriveFile" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "mimeType" TEXT NOT NULL DEFAULT 'application/octet-stream',
    "size" INTEGER NOT NULL DEFAULT 0,
    "parentId" TEXT,
    "ownerId" TEXT NOT NULL,
    "tenantId" TEXT NOT NULL DEFAULT 'default',
    "storageKey" TEXT NOT NULL,
    "storageUrl" TEXT,
    "permissions" JSONB NOT NULL DEFAULT '{}',
    "version" INTEGER NOT NULL DEFAULT 1,
    "isFolder" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "DriveFile_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "body" TEXT,
    "data" JSONB,
    "readAt" TIMESTAMP(3),
    "dismissedAt" TIMESTAMP(3),
    "priority" TEXT NOT NULL DEFAULT 'normal',
    "channel" TEXT NOT NULL DEFAULT 'in-app',
    "sourceId" TEXT,
    "sourceType" TEXT,
    "tenantId" TEXT NOT NULL DEFAULT 'default',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "_DecisionInitiatives" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_tenantId_idx" ON "User"("tenantId");

-- CreateIndex
CREATE INDEX "User_email_idx" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Session_refreshTokenHash_key" ON "Session"("refreshTokenHash");

-- CreateIndex
CREATE INDEX "Session_userId_idx" ON "Session"("userId");

-- CreateIndex
CREATE INDEX "Session_expiresAt_idx" ON "Session"("expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "Invite_codeHash_key" ON "Invite"("codeHash");

-- CreateIndex
CREATE INDEX "Invite_email_idx" ON "Invite"("email");

-- CreateIndex
CREATE INDEX "Invite_expiresAt_idx" ON "Invite"("expiresAt");

-- CreateIndex
CREATE INDEX "Invite_invitedById_idx" ON "Invite"("invitedById");

-- CreateIndex
CREATE INDEX "AuthEvent_userId_idx" ON "AuthEvent"("userId");

-- CreateIndex
CREATE INDEX "AuthEvent_email_idx" ON "AuthEvent"("email");

-- CreateIndex
CREATE INDEX "AuthEvent_eventType_idx" ON "AuthEvent"("eventType");

-- CreateIndex
CREATE INDEX "AuthEvent_createdAt_idx" ON "AuthEvent"("createdAt");

-- CreateIndex
CREATE INDEX "DecisionCard_convergenceState_idx" ON "DecisionCard"("convergenceState");

-- CreateIndex
CREATE INDEX "DecisionCard_createdById_idx" ON "DecisionCard"("createdById");

-- CreateIndex
CREATE INDEX "DecisionCard_createdAt_idx" ON "DecisionCard"("createdAt");

-- CreateIndex
CREATE INDEX "ActionItem_ownerId_idx" ON "ActionItem"("ownerId");

-- CreateIndex
CREATE INDEX "ActionItem_status_idx" ON "ActionItem"("status");

-- CreateIndex
CREATE UNIQUE INDEX "Persona_userId_key" ON "Persona"("userId");

-- CreateIndex
CREATE INDEX "Origin_expiresAt_idx" ON "Origin"("expiresAt");

-- CreateIndex
CREATE INDEX "Material_type_idx" ON "Material"("type");

-- CreateIndex
CREATE INDEX "Material_visibility_idx" ON "Material"("visibility");

-- CreateIndex
CREATE INDEX "MemoryEntry_type_status_idx" ON "MemoryEntry"("type", "status");

-- CreateIndex
CREATE INDEX "MemoryEntry_status_idx" ON "MemoryEntry"("status");

-- CreateIndex
CREATE INDEX "MemoryEntry_ownershipLevel_idx" ON "MemoryEntry"("ownershipLevel");

-- CreateIndex
CREATE INDEX "MemoryEntry_ownerUserId_idx" ON "MemoryEntry"("ownerUserId");

-- CreateIndex
CREATE INDEX "MemoryEntry_ownerDepartmentId_idx" ON "MemoryEntry"("ownerDepartmentId");

-- CreateIndex
CREATE INDEX "MemoryPromotionRequest_status_idx" ON "MemoryPromotionRequest"("status");

-- CreateIndex
CREATE INDEX "MemoryPromotionRequest_createdById_idx" ON "MemoryPromotionRequest"("createdById");

-- CreateIndex
CREATE INDEX "MemoryPromotionRequest_level_idx" ON "MemoryPromotionRequest"("level");

-- CreateIndex
CREATE INDEX "MemoryDowngradeRequest_memoryId_idx" ON "MemoryDowngradeRequest"("memoryId");

-- CreateIndex
CREATE INDEX "MemoryDowngradeRequest_status_idx" ON "MemoryDowngradeRequest"("status");

-- CreateIndex
CREATE INDEX "MemoryDowngradeRequest_proposedBy_idx" ON "MemoryDowngradeRequest"("proposedBy");

-- CreateIndex
CREATE INDEX "Objective_cycleId_idx" ON "Objective"("cycleId");

-- CreateIndex
CREATE INDEX "Objective_ownerId_idx" ON "Objective"("ownerId");

-- CreateIndex
CREATE INDEX "Objective_status_idx" ON "Objective"("status");

-- CreateIndex
CREATE INDEX "KeyResult_objectiveId_idx" ON "KeyResult"("objectiveId");

-- CreateIndex
CREATE INDEX "KeyResult_ownerId_idx" ON "KeyResult"("ownerId");

-- CreateIndex
CREATE INDEX "KeyResult_status_idx" ON "KeyResult"("status");

-- CreateIndex
CREATE INDEX "TTI_cycleId_idx" ON "TTI"("cycleId");

-- CreateIndex
CREATE INDEX "TTI_ownerId_idx" ON "TTI"("ownerId");

-- CreateIndex
CREATE INDEX "Initiative_keyResultId_idx" ON "Initiative"("keyResultId");

-- CreateIndex
CREATE INDEX "CheckIn_scope_scopeId_idx" ON "CheckIn"("scope", "scopeId");

-- CreateIndex
CREATE INDEX "CheckIn_authorId_idx" ON "CheckIn"("authorId");

-- CreateIndex
CREATE INDEX "CheckIn_createdAt_idx" ON "CheckIn"("createdAt");

-- CreateIndex
CREATE INDEX "ImChannel_type_idx" ON "ImChannel"("type");

-- CreateIndex
CREATE INDEX "ImChannel_createdById_idx" ON "ImChannel"("createdById");

-- CreateIndex
CREATE INDEX "ImChannel_lastMessageAt_idx" ON "ImChannel"("lastMessageAt");

-- CreateIndex
CREATE INDEX "ImChannel_departmentId_idx" ON "ImChannel"("departmentId");

-- CreateIndex
CREATE INDEX "ImMessage_channelId_createdAt_idx" ON "ImMessage"("channelId", "createdAt");

-- CreateIndex
CREATE INDEX "ImMessage_senderId_idx" ON "ImMessage"("senderId");

-- CreateIndex
CREATE INDEX "ImMessage_parentMessageId_idx" ON "ImMessage"("parentMessageId");

-- CreateIndex
CREATE INDEX "ImMembership_userId_idx" ON "ImMembership"("userId");

-- CreateIndex
CREATE INDEX "ImMembership_channelId_idx" ON "ImMembership"("channelId");

-- CreateIndex
CREATE UNIQUE INDEX "ImMembership_channelId_userId_key" ON "ImMembership"("channelId", "userId");

-- CreateIndex
CREATE INDEX "NineBoxSnapshot_userId_cycleId_idx" ON "NineBoxSnapshot"("userId", "cycleId");

-- CreateIndex
CREATE INDEX "OneOnOneMeeting_tenantId_idx" ON "OneOnOneMeeting"("tenantId");

-- CreateIndex
CREATE INDEX "OneOnOneMeeting_managerId_idx" ON "OneOnOneMeeting"("managerId");

-- CreateIndex
CREATE INDEX "OneOnOneMeeting_reportId_idx" ON "OneOnOneMeeting"("reportId");

-- CreateIndex
CREATE INDEX "OneOnOneMeeting_scheduledAt_idx" ON "OneOnOneMeeting"("scheduledAt");

-- CreateIndex
CREATE INDEX "OneOnOneActionItem_meetingId_idx" ON "OneOnOneActionItem"("meetingId");

-- CreateIndex
CREATE INDEX "OneOnOneActionItem_assigneeId_idx" ON "OneOnOneActionItem"("assigneeId");

-- CreateIndex
CREATE INDEX "OneOnOneActionItem_linkedInitiativeId_idx" ON "OneOnOneActionItem"("linkedInitiativeId");

-- CreateIndex
CREATE INDEX "Review360Cycle_tenantId_idx" ON "Review360Cycle"("tenantId");

-- CreateIndex
CREATE INDEX "Review360Cycle_status_idx" ON "Review360Cycle"("status");

-- CreateIndex
CREATE INDEX "Review360Cycle_createdBy_idx" ON "Review360Cycle"("createdBy");

-- CreateIndex
CREATE INDEX "Review360Submission_cycleId_idx" ON "Review360Submission"("cycleId");

-- CreateIndex
CREATE INDEX "Review360Submission_subjectId_idx" ON "Review360Submission"("subjectId");

-- CreateIndex
CREATE INDEX "Review360Assignment_cycleId_idx" ON "Review360Assignment"("cycleId");

-- CreateIndex
CREATE INDEX "Review360Assignment_raterId_submitted_idx" ON "Review360Assignment"("raterId", "submitted");

-- CreateIndex
CREATE UNIQUE INDEX "Review360Assignment_cycleId_subjectId_raterId_key" ON "Review360Assignment"("cycleId", "subjectId", "raterId");

-- CreateIndex
CREATE INDEX "Document_ownerId_idx" ON "Document"("ownerId");

-- CreateIndex
CREATE INDEX "Document_tenantId_idx" ON "Document"("tenantId");

-- CreateIndex
CREATE INDEX "Document_updatedAt_idx" ON "Document"("updatedAt");

-- CreateIndex
CREATE INDEX "CalendarEvent_ownerId_idx" ON "CalendarEvent"("ownerId");

-- CreateIndex
CREATE INDEX "CalendarEvent_startAt_idx" ON "CalendarEvent"("startAt");

-- CreateIndex
CREATE INDEX "CalendarEvent_tenantId_idx" ON "CalendarEvent"("tenantId");

-- CreateIndex
CREATE INDEX "DriveFile_ownerId_idx" ON "DriveFile"("ownerId");

-- CreateIndex
CREATE INDEX "DriveFile_parentId_idx" ON "DriveFile"("parentId");

-- CreateIndex
CREATE INDEX "DriveFile_tenantId_idx" ON "DriveFile"("tenantId");

-- CreateIndex
CREATE INDEX "Notification_userId_idx" ON "Notification"("userId");

-- CreateIndex
CREATE INDEX "Notification_userId_readAt_idx" ON "Notification"("userId", "readAt");

-- CreateIndex
CREATE INDEX "Notification_createdAt_idx" ON "Notification"("createdAt");

-- CreateIndex
CREATE INDEX "Notification_tenantId_idx" ON "Notification"("tenantId");

-- CreateIndex
CREATE UNIQUE INDEX "_DecisionInitiatives_AB_unique" ON "_DecisionInitiatives"("A", "B");

-- CreateIndex
CREATE INDEX "_DecisionInitiatives_B_index" ON "_DecisionInitiatives"("B");

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_managerId_fkey" FOREIGN KEY ("managerId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PasswordHash" ADD CONSTRAINT "PasswordHash_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MfaSecret" ADD CONSTRAINT "MfaSecret_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Invite" ADD CONSTRAINT "Invite_invitedById_fkey" FOREIGN KEY ("invitedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Department" ADD CONSTRAINT "Department_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "Department"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "DecisionCard" ADD CONSTRAINT "DecisionCard_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ActionItem" ADD CONSTRAINT "ActionItem_decisionCardId_fkey" FOREIGN KEY ("decisionCardId") REFERENCES "DecisionCard"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Persona" ADD CONSTRAINT "Persona_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Material" ADD CONSTRAINT "Material_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "MemoryPromotionRequest" ADD CONSTRAINT "MemoryPromotionRequest_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Objective" ADD CONSTRAINT "Objective_cycleId_fkey" FOREIGN KEY ("cycleId") REFERENCES "Cycle"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Objective" ADD CONSTRAINT "Objective_parentObjectiveId_fkey" FOREIGN KEY ("parentObjectiveId") REFERENCES "Objective"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Objective" ADD CONSTRAINT "Objective_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KeyResult" ADD CONSTRAINT "KeyResult_objectiveId_fkey" FOREIGN KEY ("objectiveId") REFERENCES "Objective"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KeyResult" ADD CONSTRAINT "KeyResult_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TTI" ADD CONSTRAINT "TTI_cycleId_fkey" FOREIGN KEY ("cycleId") REFERENCES "Cycle"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TTI" ADD CONSTRAINT "TTI_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Initiative" ADD CONSTRAINT "Initiative_keyResultId_fkey" FOREIGN KEY ("keyResultId") REFERENCES "KeyResult"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "CheckIn" ADD CONSTRAINT "CheckIn_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ImMessage" ADD CONSTRAINT "ImMessage_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES "ImChannel"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ImMessage" ADD CONSTRAINT "ImMessage_parentMessageId_fkey" FOREIGN KEY ("parentMessageId") REFERENCES "ImMessage"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ImMembership" ADD CONSTRAINT "ImMembership_channelId_fkey" FOREIGN KEY ("channelId") REFERENCES "ImChannel"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OneOnOneActionItem" ADD CONSTRAINT "OneOnOneActionItem_meetingId_fkey" FOREIGN KEY ("meetingId") REFERENCES "OneOnOneMeeting"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Review360Submission" ADD CONSTRAINT "Review360Submission_cycleId_fkey" FOREIGN KEY ("cycleId") REFERENCES "Review360Cycle"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Review360Assignment" ADD CONSTRAINT "Review360Assignment_cycleId_fkey" FOREIGN KEY ("cycleId") REFERENCES "Review360Cycle"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_DecisionInitiatives" ADD CONSTRAINT "_DecisionInitiatives_A_fkey" FOREIGN KEY ("A") REFERENCES "DecisionCard"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "_DecisionInitiatives" ADD CONSTRAINT "_DecisionInitiatives_B_fkey" FOREIGN KEY ("B") REFERENCES "Initiative"("id") ON DELETE CASCADE ON UPDATE CASCADE;

