{
  "openapi": "3.0.3",
  "info": {
    "title": "Tandem API",
    "version": "1.0.0",
    "description": "Tandem ??????????????????????? Cookie tandem_at????? SSO ???? OIDC Bearer access_token?Bearer token ????????? api.read/api.write ????? scope?"
  },
  "servers": [
    {
      "url": "https://ai.rhautt.com",
      "description": "????"
    },
    {
      "url": "http://localhost:3005",
      "description": "??????"
    }
  ],
  "tags": [
    {
      "name": "认证与账号"
    },
    {
      "name": "管理后台"
    },
    {
      "name": "个人与组织"
    },
    {
      "name": "OKR、KPI 与绩效"
    },
    {
      "name": "协作、IM 与日程"
    },
    {
      "name": "文档、知识库与网盘"
    },
    {
      "name": "AI、Agent 与技能"
    },
    {
      "name": "学习、Persona 与记忆"
    },
    {
      "name": "邮件、内网、治理与审计"
    },
    {
      "name": "平台、状态、推送与协议"
    }
  ],
  "paths": {
    "/api/auth/apply": {
      "post": {
        "tags": [
          "认证与账号"
        ],
        "summary": "创建、提交或触发 认证与账号 模块动作。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "post_api_auth_apply",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/change-password": {
      "post": {
        "tags": [
          "认证与账号"
        ],
        "summary": "创建、提交或触发 认证与账号 模块动作。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "post_api_auth_change_password",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/invite": {
      "get": {
        "tags": [
          "认证与账号"
        ],
        "summary": "查询或创建 认证与账号 模块资源。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "get_api_auth_invite",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        }
      },
      "post": {
        "tags": [
          "认证与账号"
        ],
        "summary": "查询或创建 认证与账号 模块资源。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "post_api_auth_invite",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "认证与账号"
        ],
        "summary": "账号密码登录。成功后服务端写入 httpOnly 登录 Cookie。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。\n\n成功后写入 tandem_at；可能同时写入 tandem_rt。",
        "operationId": "post_api_auth_login",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "登录成功，并设置 tandem_at Cookie。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "是否登录成功。"
                    },
                    "userId": {
                      "type": "string",
                      "description": "登录用户 ID。"
                    },
                    "requiresMfa": {
                      "type": "boolean",
                      "description": "是否需要继续完成 MFA 校验。"
                    },
                    "pendingSessionId": {
                      "type": "string",
                      "description": "MFA 待验证会话 ID。"
                    },
                    "mfaEnrollmentRequired": {
                      "type": "boolean",
                      "description": "特权账号是否必须先启用 MFA。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "JSON 无效或 email/password 缺失。"
          },
          "401": {
            "description": "账号或密码错误。"
          },
          "429": {
            "description": "登录尝试过于频繁。响应头包含 Retry-After。"
          },
          "500": {
            "description": "认证服务异常。"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "登录邮箱。"
                  },
                  "password": {
                    "type": "string",
                    "description": "登录密码。"
                  }
                },
                "additionalProperties": true,
                "required": [
                  "email",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "认证与账号"
        ],
        "summary": "创建、提交或触发 认证与账号 模块动作。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "post_api_auth_logout",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "认证与账号"
        ],
        "summary": "读取当前登录用户信息。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。\n\n读取当前登录用户；内部仍会尝试会话解析。",
        "operationId": "get_api_auth_me",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "返回当前用户。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "description": "是否成功。"
                    },
                    "user.id": {
                      "type": "string",
                      "description": "用户 ID。"
                    },
                    "user.email": {
                      "type": "string",
                      "description": "用户邮箱。"
                    },
                    "user.name": {
                      "type": "string",
                      "description": "用户名称。"
                    },
                    "user.roles": {
                      "type": "array",
                      "description": "当前用户角色集合。",
                      "items": {
                        "type": "object"
                      }
                    },
                    "user.tenantId": {
                      "type": "string",
                      "description": "租户 ID。"
                    },
                    "user.mfaVerified": {
                      "type": "boolean",
                      "description": "当前会话是否已完成 MFA。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "未登录且 demo fallback 未开启。"
          },
          "404": {
            "description": "会话有效但用户记录不存在。"
          }
        }
      }
    },
    "/api/auth/mfa/setup": {
      "get": {
        "tags": [
          "认证与账号"
        ],
        "summary": "查询或创建 认证与账号 模块资源。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "get_api_auth_mfa_setup",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        }
      },
      "post": {
        "tags": [
          "认证与账号"
        ],
        "summary": "查询或创建 认证与账号 模块资源。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "post_api_auth_mfa_setup",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/mfa/verify": {
      "post": {
        "tags": [
          "认证与账号"
        ],
        "summary": "创建、提交或触发 认证与账号 模块动作。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "post_api_auth_mfa_verify",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/phone/send-code": {
      "post": {
        "tags": [
          "认证与账号"
        ],
        "summary": "创建、提交或触发 认证与账号 模块动作。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "post_api_auth_phone_send_code",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/phone/verify": {
      "post": {
        "tags": [
          "认证与账号"
        ],
        "summary": "创建、提交或触发 认证与账号 模块动作。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "post_api_auth_phone_verify",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "认证与账号"
        ],
        "summary": "创建、提交或触发 认证与账号 模块动作。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "post_api_auth_register",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/sso-register": {
      "post": {
        "tags": [
          "认证与账号"
        ],
        "summary": "创建、提交或触发 认证与账号 模块动作。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "post_api_auth_sso_register",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        }
      }
    },
    "/api/auth/wechat/poll": {
      "get": {
        "tags": [
          "认证与账号"
        ],
        "summary": "查询 认证与账号 模块数据。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "get_api_auth_wechat_poll",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功，返回查询结果。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        }
      }
    },
    "/api/auth/wechat/qr": {
      "get": {
        "tags": [
          "认证与账号"
        ],
        "summary": "查询 认证与账号 模块数据。",
        "description": "公开/协议：公开白名单或协议端点，不依赖 Tandem 登录 Cookie；协议端点可能使用自身鉴权。",
        "operationId": "get_api_auth_wechat_qr",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功，返回查询结果。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        }
      }
    },
    "/api/admin/ai-settings": {
      "get": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询 管理后台 模块数据。",
        "description": "登录态：路由内显式调用 requireAuth，需要有效 tandem_at 登录 Cookie。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "get_api_admin_ai_settings",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询 管理后台 模块数据。",
        "description": "登录态：路由内显式调用 requireAuth，需要有效 tandem_at 登录 Cookie。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "put_api_admin_ai_settings",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/company-brain": {
      "get": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询 管理后台 模块数据。",
        "description": "登录态：路由内显式调用 requireAuth，需要有效 tandem_at 登录 Cookie。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "get_api_admin_company_brain",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功，返回查询结果。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/company-brain/decisions": {
      "get": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询 管理后台 模块数据。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "get_api_admin_company_brain_decisions",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功，返回查询结果。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/company-brain/metrics": {
      "get": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询 管理后台 模块数据。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "get_api_admin_company_brain_metrics",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功，返回查询结果。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/company-brain/reflection": {
      "get": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询或创建 管理后台 模块资源。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "get_api_admin_company_brain_reflection",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询或创建 管理后台 模块资源。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "patch_api_admin_company_brain_reflection",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询或创建 管理后台 模块资源。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "post_api_admin_company_brain_reflection",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/company-brain/reflection/proposal": {
      "patch": {
        "tags": [
          "管理后台"
        ],
        "summary": "更新 管理后台 模块资源。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "patch_api_admin_company_brain_reflection_proposal",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/evals": {
      "get": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询或创建 管理后台 模块资源。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "get_api_admin_evals",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询或创建 管理后台 模块资源。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "post_api_admin_evals",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/governance/okr-drift": {
      "get": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询 管理后台 模块数据。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "get_api_admin_governance_okr_drift",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功，返回查询结果。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/organizations": {
      "get": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询或创建 管理后台 模块资源。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "get_api_admin_organizations",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询或创建 管理后台 模块资源。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "post_api_admin_organizations",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/organizations/{id}/invite": {
      "post": {
        "tags": [
          "管理后台"
        ],
        "summary": "对 管理后台 模块中的指定资源进行查询、更新或删除。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "post_api_admin_organizations_id_invite",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "路径参数 id。",
            "schema": {
              "type": "string",
              "description": "路径参数 id。"
            }
          },
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "404": {
            "description": "指定资源不存在，或当前用户无权访问该资源。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/organizations/{id}/suspend": {
      "post": {
        "tags": [
          "管理后台"
        ],
        "summary": "对 管理后台 模块中的指定资源进行查询、更新或删除。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "post_api_admin_organizations_id_suspend",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "路径参数 id。",
            "schema": {
              "type": "string",
              "description": "路径参数 id。"
            }
          },
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "404": {
            "description": "指定资源不存在，或当前用户无权访问该资源。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/personas": {
      "get": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询 管理后台 模块数据。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "get_api_admin_personas",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功，返回查询结果。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/personas/{userId}": {
      "patch": {
        "tags": [
          "管理后台"
        ],
        "summary": "更新 管理后台 模块资源。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "patch_api_admin_personas_userId",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "description": "路径参数 userId。",
            "schema": {
              "type": "string",
              "description": "路径参数 userId。"
            }
          },
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "404": {
            "description": "指定资源不存在，或当前用户无权访问该资源。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/seed-ruihe": {
      "post": {
        "tags": [
          "管理后台"
        ],
        "summary": "创建、提交或触发 管理后台 模块动作。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "post_api_admin_seed_ruihe",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok / <resource>": {
                      "type": "boolean",
                      "description": "操作结果或创建后的资源对象。"
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/skill-evals": {
      "get": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询 管理后台 模块数据。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "get_api_admin_skill_evals",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求成功，返回查询结果。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/skill-proposals": {
      "get": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询或创建 管理后台 模块资源。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "get_api_admin_skill_proposals",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询或创建 管理后台 模块资源。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "patch_api_admin_skill_proposals",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询或创建 管理后台 模块资源。",
        "description": "角色权限：需要登录态，并显式调用 requireRole 或角色守卫。\n\n??? SSO Bearer ???????? api.read ??? *.read scope?????? api.write ??? *.write scope?",
        "operationId": "post_api_admin_skill_proposals",
        "parameters": [
          {
            "name": "x-request-id",
            "in": "header",
            "required": false,
            "description": "可选。调用方传入后服务端会透传；未传时由 middleware 自动生成。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cookie",
            "in": "header",
            "required": true,
            "description": "必填。Tandem 登录态 Cookie，由登录接口写入。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "201": {
            "description": "写入、更新或动作执行成功。创建类接口通常返回 201。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items / data / <resource[]>": {
                      "type": "array",
                      "description": "查询结果。字段随业务资源类型变化。",
                      "items": {
                        "type": "object"
                      }
                    }
                  },
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "请求参数缺失、格式错误或业务校验失败。"
          },
          "401": {
            "description": "未登录、登录态过期或 access token 无效。"
          },
          "403": {
            "description": "已登录但角色权限不足。"
          },
          "500": {
            "description": "服务端异常。响应体通常包含 error 字段。"
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "业务字段": {
                    "type": "object",
                    "description": "与当前资源对应的创建/更新字段。服务端会忽略或覆盖 tenantId、createdBy、ownerId 等敏感上下文字段。",
                    "additionalProperties": true
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "security": [
          {
            "TandemCookieAuth": []
          },
          {
            "TandemBearerAuth": []
          }
        ]
      }
    },
    "/api/admin/skills/reload": {
      "get": {
        "tags": [
          "管理后台"
        ],
        "summary": "查询或创建 管理后台 模块资源。",
[...]
